@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');    

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.ultra-regular {
    font-size: 25px;
   font-weight: bolder;
  }
  
